In [134]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [135]:
strup = [x.upper() for x in strings if len(x) > 2]
print(strup)

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [136]:
unlen = {len(x) for x in strings}
print(unlen)

{1, 2, 3, 4, 6}

In [137]:
unset = set(map(len, strings))
print(unset)

{1, 2, 3, 4, 6}

In [140]:
mapord = {i : val for i, val in enumerate(strings)}
print(mapord)

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [141]:
data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
    ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

nameselec = list()
for names in data:
    een = [name for name in names if name.count('e') >= 2]
    nameselec.extend(een)
print(nameselec)

['Steven']

In [142]:
result = [name for names in data for name in names if name.count('e') >= 2]
print(result)

['Steven']

In [152]:
tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

stups = [x for tup in tuples for x in tup]
print(stups)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [151]:
llist = [[x for x in tup] for tup in tuples]
print(llist)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]